/**
 * FRAMEWORK.CSS
 * Framework application style
 *
 * - BASE                       Base style of table
 * - LAYOUT                     Style for the layout - container, wrapper, main sections
 * - CLASSES                    Classes for differents elements
 */

/* -- BASE
------------------------ */

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ul ul,
ol ol {
    margin-left: 2rem;
}

li p,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
    max-width: 100%;
}

p,
li,
dl {
    font-size: 1.4rem;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

hr {
    display: block;
    height: .1rem;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1rem 0 .5rem;
    padding: 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* -- LAYOUT
------------------------ */

.container {
    display: table;
    width: 100%;
}

aside.menu {
    background-color: #333333;

    display: table-cell;
    width: 50px;

    vertical-align: top;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

aside.menu:hover {
    width: 250px;
}

aside.menu:hover ~ .section.main {
    width: calc(100% - 250px);
}

.menu nav {
    color: #fff;

    margin: 20px 20px 20px -200px;

    position: fixed;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.menu nav a {
    color: #fff;
    text-decoration: none;
}

.menu:hover nav {
    margin-left: 20px;
}

.menu li ul {
    height: 0;

    visibility: hidden;
}

.menu li.active ul {
    height: auto;

    visibility: visible;
}

section.main {
    display: table;
    min-height: 100%;
    width: 100%;

    vertical-align: top;
}

.wrapper {
    min-height: 100%;
    width: 980px;
    margin: 0 auto;
}

/* -- CLASSES
------------------------ */

h2.section-title {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cccccc;
}

hr {
    margin: 5rem 0;
}
