/**
 * TYPO.CSS
 * Typo application style
 *
 * - BASE                       Base style for typo
 * - HEADINGS                   Style for h1, h2, h3, h4, h5, h6
 * - LIST                       Style for list - Description list
 * - ALIGN CLASSES              Style for the text-align property
 */

/* -- BASE
------------------------ */

body,
input,
button  {
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

    position: relative;
}

p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.8rem;

    margin: 18px 0;

    position: relative;
    top: 5px;
}

/* -- HEADING
------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 36px;
    margin-bottom: 18px;

    position: relative;
}


h1,
h2,
h3,
h4 {
    margin-top: 18px;
}

h3,
h4,
h5,
h6 {
    line-height: 18px;
}

h1 {
    font-size: 36px;

    top: 5px;
}

h2 {
    font-size: 28px;

    top: 8px;
}

h3 {
    font-size: 22px;

    top: 1px;
}

h4 {
    font-size: 18px;

    top: 2px;
}

h5 {
    font-size: 15px;

    top: 4px;
}

h6 {
    font-size: 13px;

    top: 5px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
    margin-top: 0;
}

.lead {
    font-size: 175%;
}

/* -- LIST
------------------------ */

dt {
    font-weight: bold;

    width: 10rem;
    overflow: hidden;

    float: left;

    clear: both;
}

dd {
    margin: 0 0 1rem 10rem;
    padding: 0 0 1rem .5rem;
}

dl.vertical_list dt {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;

    float: none;
}

dl.vertical_list dd {
    margin: 0 0 1rem 0;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #cccccc;
}

/* -- ALIGN CLASSES
------------------------ */

.text_left {
    text-align: left;
}

.text_center {
    text-align: center;
}
.text_right {
    text-align: right;
}
