/* form starting stylings ------------------------------- */
/*.group 			  {*/
/*position:relative;*/
/*margin-bottom:45px;*/
/*}*/

/*input 				{*/
/*font-size:18px;*/
/*padding:10px 10px 10px 5px;*/
/*display:block;*/
/*width:300px;*/
/*border:none;*/
/*border-bottom:1px solid #757575;*/
/*}*/

/*input:focus {*/
/*outline:none;*/
/*}*/

/* LABEL ======================================= */
/*label 				 {*/
/*color:#999;*/
/*font-size:18px;*/
/*font-weight:normal;*/
/*position:absolute;*/
/*pointer-events:none;*/
/*left:5px;*/
/*top:10px;*/
/*transition:0.2s ease all;*/
/*-moz-transition:0.2s ease all;*/
/*-webkit-transition:0.2s ease all;*/
/*}*/

/* active state */
/*input:focus ~ label, input:valid ~ label 		{*/
/*top:-20px;*/
/*font-size:14px;*/
/*color:#5264AE;*/
/*}*/

/* BOTTOM BARS ================================= */
/*.bar 	{ position:relative; display:block; width:300px; }*/
/*.bar:before, .bar:after 	{*/
/*content:'';*/
/*height:2px;*/
/*width:0;*/
/*bottom:1px;*/
/*position:absolute;*/
/*background:#5264AE;*/
/*transition:0.2s ease all;*/
/*-moz-transition:0.2s ease all;*/
/*-webkit-transition:0.2s ease all;*/
/*}*/

/*.bar:before {*/
/*left:50%;*/
/*}*/

/*.bar:after {*/
/*right:50%;*/
/*}*/

/* active state */
/*input:focus ~ .bar:before, input:focus ~ .bar:after {*/
/*width:50%;*/
/*}*/

/* HIGHLIGHTER ================================== */
/*.highlight {*/
/*position:absolute;*/
/*height:60%;*/
/*width:100px;*/
/*top:25%;*/
/*left:0;*/
/*pointer-events:none;*/
/*opacity:0.5;*/
/*}*/

/* active state */
/*input:focus ~ .highlight {*/
/*-webkit-animation:inputHighlighter 0.3s ease;*/
/*-moz-animation:inputHighlighter 0.3s ease;*/
/*animation:inputHighlighter 0.3s ease;*/
/*}*/

/* ANIMATIONS ================ */
/*@-webkit-keyframes inputHighlighter {*/
/*from { background:#5264AE; }*/
/*to 	{ width:0; background:transparent; }*/
/*}*/

/*@-moz-keyframes inputHighlighter {*/
/*from { background:#5264AE; }*/
/*to 	{ width:0; background:transparent; }*/
/*}*/

/*@keyframes inputHighlighter {*/
/*from { background:#5264AE; }*/
/*to 	{ width:0; background:transparent; }*/
/*}*/

/* INPUTS ================ */
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    margin-right: 0.5rem;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #40e0d0;
}

.option-input:checked::before {
    width: 40px;
    height: 40px;
    position: absolute;
    content: '\2716';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

@-webkit-keyframes click-wave {
    0% {
        width: 40px;
        height: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0.0;
    }
}

@-moz-keyframes click-wave {
    0% {
        width: 40px;
        height: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0.0;
    }
}

@-o-keyframes click-wave {
    0% {
        width: 40px;
        height: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0.0;
    }
}

@keyframes click-wave {
    0% {
        width: 40px;
        height: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0.0;
    }
}