/**
 * Monokai theme
 *
 * Adapted from Wimer Hazenberg's TextMate theme of the same name
 *
 * @author Wimer Hazenberg
 * @author Michael Fasani
 * @author Craig Campbell
 * @version 1.0.0
 */
pre {
    color: #999;
    background: #ececec;

    display: block;
    margin: 0px;
    margin-bottom: 1rem;
    padding: 2rem;
    border: 1px solid #cccccc;

    word-wrap: break-word;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #75715E;
}

pre .constant {
    color: #AE81FF;
}

pre .storage {
    color: #66D9EF;
}

pre .string, pre .comment.docstring {
    color: #1FA2D6;
}

pre .support.tag {
    color: #999;
}

pre .keyword {
    /* @todo some keywords use this light blue, most use the pink */
    /*color: #66D9EF;*/
    color: #F92672;
}

pre .selector {
    color: #F92672;
}

pre .inherited-class {
    font-style: italic;
}

pre .operator, pre .support.tag-name , pre .entity.tag {
    color: #F92672;
}

pre .entity, pre .support.attribute, pre .entity.attribute {
    color: #999;
}

pre .support, *[data-language="c"] .function.call {
    color: #66D9EF;
}

*[data-language="html"] .support.operator {
    color: #999;
}

pre .css-property, pre .storage.function {
    font-style: italic;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #A6E22E;
}

:not(pre)>code, :not(pre)>kbd, :not(pre)>samp, pre {
    background: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

:not(pre)>code, :not(pre)>kbd, :not(pre)>samp {
    font-size: 12px;
    font-family: Consolas,monospace,serif;
    color: #1FA2D6;
    white-space: nowrap;
    padding: 0 4px;
}